In [196]:
import pandas as pd

In [197]:
from api_key import api_key_census
import requests

#For getting median_income from API

In [198]:
crime_df = pd.read_csv('crime_data.csv')

In [199]:
pd.set_option('display.max_columns', None)

In [200]:
crime_df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [201]:
crime_df.columns = crime.columns.str.lower().str.replace(' ', '_')

In [202]:
crime_df

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1-2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0385,44,F,O,104.0,DRIVEWAY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
944231,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,2047 0400 0429 0444 1202 1822,80,F,O,124.0,BUS STOP,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
944232,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
944233,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
944234,240900704,04/29/2024 12:00:00 AM,04/29/2024 12:00:00 AM,2020,9,Van Nuys,916,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0342 0329 1402 0311 1822,37,M,H,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,740.0,998.0,NaN,NaN,6800 HAZELTINE AV,NaN,34.1939,-118.4400

In [203]:
crime_df["date_rptd"] = crime_df["date_rptd"].str.split().str[0]

In [205]:
crime_df["date_rptd"] = pd.to_datetime(crime_df["date_rptd"], format="%m/%d/%Y")

In [218]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944235 entries, 0 to 944234
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   dr_no           944235 non-null  int64
 1   date_rptd       944235 non-null  datetime64[ns]
 2   date_occ        944235 non-null  object
 3   time_occ        944235 non-null  int64
 4   area            944235 non-null  int64
 5   area_name       944235 non-null  object
 6   rpt_dist_no     944235 non-null  int64
 7   part_1-2        944235 non-null  int64
 8   crm_cd          944235 non-null  int64
 9   crm_cd_desc     944235 non-null  object
 10  mocodes         811136 non-null  object
 11  vict_age        944235 non-null  int64
 12  vict_sex        817640 non-null  object
 13  vict_descent    817630 non-null  object
 14  premis_cd       944225 non-null  float64
 15  premis_desc     943668 non-null  object
 16  weapon_used_cd  324477 non-null  float64
 17  weapon_desc     324477 non-null  object
 18  status          944235 non-null  object
 19  status_desc     944235 non-null  object
 20  crm_cd_1        944224 non-null  float64
 21  crm_cd_2        68258 non-null   float64
 22  crm_cd_3        2281 non-null    float64
 23  crm_cd_4        64 non-null      float64
 24  location        944235 non-null  object
 25  cross_street    147592 non-null  object
 26  lat             944235 non-null  float64
 27  lon             944235 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(7), object(12)
memory usage: 201.7+ MB

In [220]:
#Add new colimn: month
crime_df['year'] = crime_df['date_rptd'].dt.year

In [228]:
crime_df["vict_sex"] = crime_df["vict_sex"].str.replace("H", "X").str.replace("-", "X")

In [ ]:
#Economical-map
#crime-divide for gravity-3/5 cat.
#date and time to highlight when most crime is committed gender and age of victim/per location
#gender and age of victim/per location
# % of arrested criminals/divided for cat.crime 
# crime with weapon
#divide in 4 dataset- for respective gravity code crm cd 1 etc

In [44]:
#API getting medin_income by diision

# Your Census API key
api_key = api_key_census
# API endpoint for the American Community Survey (ACS)
base_url = 'https://api.census.gov/data/2019/acs/acs5'
# Variables to retrieve (e.g., median household income)
variables = ['NAME', 'B19013_001E']
# Specify the geographic area (Los Angeles County, CA)
for_clause = 'county subdivision:*'
in_clause = 'state:06 county:037'
# Construct the full API request URL
print(f"{base_url}?get={','.join(variables)}&for={for_clause}&in={in_clause}&key={api_key}")
api_url = f"{base_url}?get={','.join(variables)}&for={for_clause}&in={in_clause}&key={api_key}"
# Make the GET request to the Census API
response = requests.get(api_url)
# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response into a DataFrame
    data = response.json()
    df = pd.DataFrame(data[1:], columns=data[0])
    # Display the first few rows of the DataFrame
    print(df.head())
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")
# Optional: Save the data to a CSV file
df.to_csv('average_income_by_district.csv', index=False)

https://api.census.gov/data/2019/acs/acs5?get=NAME,B19013_001E&for=county subdivision:*&in=state:06 county:037&key=c8ece4d4c8d1f906496a288719673264f36c2dd2
                                                NAME B19013_001E state county  \
0        Newhall CCD, Los Angeles County, California      102716    06    037
1   Palos Verdes CCD, Los Angeles County, California      117750    06    037
2  Downey-Norwalk CCD, Los Angeles County, Califo...       70795    06    037
3       Whittier CCD, Los Angeles County, California       76938    06    037
4  South Gate-East Los Angeles CCD, Los Angeles C...       46492    06    037

  county subdivision
0              92110
1              92360
2              90730
3              93730
4              93155