In [228]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [227]:
from api_key import api_key_census
import requests

#For getting median_income from API

In [228]:
crime_df = pd.read_csv('crime_data.csv')

In [229]:
crime_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0385,44,F,O,104.0,DRIVEWAY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
944231,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,2047 0400 0429 0444 1202 1822,80,F,O,124.0,BUS STOP,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
944232,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
944233,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
944234,240900704,04/29/2024 12:00:00 AM,04/29/2024 12:00:00 AM,2020,9,Van Nuys,916,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0342 0329 1402 0311 1822,37,M,H,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,740.0,998.0,NaN,NaN,6800 HAZELTINE AV,NaN,34.1939,-118.4400

## Cleaning Data

In [231]:
crime_df.columns = crime_df.columns.str.lower().str.replace(' ', '_')

#Cleaning the names of columns

In [232]:
crime_df

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1-2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0385,44,F,O,104.0,DRIVEWAY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
944231,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,2047 0400 0429 0444 1202 1822,80,F,O,124.0,BUS STOP,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
944232,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
944233,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
944234,240900704,04/29/2024 12:00:00 AM,04/29/2024 12:00:00 AM,2020,9,Van Nuys,916,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0342 0329 1402 0311 1822,37,M,H,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,740.0,998.0,NaN,NaN,6800 HAZELTINE AV,NaN,34.1939,-118.4400

In [239]:
#Column: name

crime_df.drop('dr_no', axis=1, inplace=True)
crime_df.drop('date_rptd', axis=1, inplace=True)
crime_df.drop('rpt_dist_no', axis=1, inplace=True)
crime_df.drop('part_1-2', axis=1, inplace=True)
crime_df.drop('crm_cd', axis=1, inplace=True)
crime_df.drop('mocodes', axis=1, inplace=True)
crime_df.drop('premis_cd', axis=1, inplace=True)
crime_df.drop('weapon_desc', axis=1, inplace=True)
crime_df.drop('status', axis=1, inplace=True)
crime_df.drop('crm_cd_1', axis=1, inplace=True)
crime_df.drop('crm_cd_2', axis=1, inplace=True)
crime_df.drop('crm_cd_3', axis=1, inplace=True)
crime_df.drop('crm_cd_4', axis=1, inplace=True)
crime_df.drop('location', axis=1, inplace=True)
crime_df.drop('cross_street', axis=1, inplace=True)



#Deleted this column.

In [184]:
crime_df["vict_descent"].isna().sum()

126605

In [249]:
crime_df["vict_descent"].value_counts()

vict_descent
H    286423
W    190547
B    131747
X     96218
O     74428
A     20617
K      5230
F      4126
C      3836
J      1343
V      1017
I       909
Z       472
P       255
U       196
D        79
G        68
L        66
S        51
-         2
Name: count, dtype: int64

In [253]:
filtered_crime_df = crime_df.loc[crime_df['vict_descent'].isna()]
filtered_crime_df

,date_occ,time_occ,area,area_name,crm_cd_desc,vict_age,vict_sex,vict_descent,premis_desc,weapon_used_cd,status_desc,lat,lon
13,11/01/2020 12:00:00 AM,130,10,West Valley,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,34.1939,-118.4859
24,09/09/2020 12:00:00 AM,630,4,Hollenbeck,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,34.0820,-118.2130
27,08/14/2020 12:00:00 AM,1300,21,Topanga,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,NaN,NaN,OTHER BUSINESS,NaN,Invest Cont,34.2105,-118.6157
33,01/18/2020 12:00:00 AM,1600,14,Pacific,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,STREET,NaN,Invest Cont,34.0022,-118.4255
34,05/26/2020 12:00:00 AM,1200,2,Rampart,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,STREET,NaN,Invest Cont,34.0697,-118.2779
...,...,...,...,...,...,...,...,...,...,...,...,...,...
944207,04/20/2024 12:00:00 AM,1700,15,N Hollywood,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,34.1346,-118.3759
944218,01/02/2024 12:00:00 AM,345,14,Pacific,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,34.0212,-118.4238
944219,01/01/2024 12:00:00 AM,2100,13,Newton,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,34.0072,-118.2432
944220,03/19/2024 12:00:00 AM,1500,11,Northeast,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,STREET,NaN,Invest Cont,34.1158,-118.2732
944221,02/28/2024 12:00:00 AM,100,14,Pacific,VEHICLE - STOLEN,0,NaN,NaN,STREET,NaN,Invest Cont,34.0038,-118.4553

In [241]:
crime_df

,date_occ,time_occ,area,area_name,crm_cd_desc,vict_age,vict_sex,vict_descent,premis_desc,weapon_used_cd,status_desc,lat,lon
0,03/01/2020 12:00:00 AM,2130,7,Wilshire,VEHICLE - STOLEN,0,M,O,STREET,NaN,Adult Arrest,34.0375,-118.3506
1,02/08/2020 12:00:00 AM,1800,1,Central,BURGLARY FROM VEHICLE,47,M,O,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,Invest Cont,34.0444,-118.2628
2,11/04/2020 12:00:00 AM,1700,3,Southwest,BIKE - STOLEN,19,X,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,34.0210,-118.3002
3,03/10/2020 12:00:00 AM,2037,9,Van Nuys,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,CLOTHING STORE,NaN,Invest Cont,34.1576,-118.4387
4,08/17/2020 12:00:00 AM,1200,6,Hollywood,THEFT OF IDENTITY,28,M,H,SIDEWALK,NaN,Invest Cont,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,02/17/2024 12:00:00 AM,2330,21,Topanga,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,O,DRIVEWAY,NaN,Invest Cont,34.2260,-118.6214
944231,01/16/2024 12:00:00 AM,1510,20,Olympic,BATTERY - SIMPLE ASSAULT,80,F,O,BUS STOP,400.0,Invest Cont,34.0690,-118.3054
944232,01/15/2024 12:00:00 AM,100,1,Central,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,HOTEL,500.0,Invest Cont,34.0685,-118.2460
944233,04/24/2024 12:00:00 AM,1500,3,Southwest,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",70,F,W,SIDEWALK,308.0,Invest Cont,34.0215,-118.2868
944234,04/29/2024 12:00:00 AM,2020,9,Van Nuys,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",37,M,H,"VEHICLE, PASSENGER/TRUCK",NaN,Invest Cont,34.1939,-118.4400

In [160]:
crime_df["crm_cd_desc"].value_counts()

crm_cd_desc
VEHICLE - STOLEN                                      102036
BATTERY - SIMPLE ASSAULT                               74509
BURGLARY FROM VEHICLE                                  58311
THEFT OF IDENTITY                                      58240
BURGLARY                                               57497
                                                       ...
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)               6
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)         5
FIREARMS RESTRAINING ORDER (FIREARMS RO)                   4
DISHONEST EMPLOYEE ATTEMPTED THEFT                         4
TRAIN WRECKING                                             1
Name: count, Length: 139, dtype: int64

In [133]:
crime_df["date_occ"] = crime_df["date_occ"].str.split().str[0]
crime_df["date_occ"] = pd.to_datetime(crime_df["date_occ"], format="%m/%d/%Y")

#Cleaning column "date_occ"

#To pull year from data: crime_df['date_occ'].dt.year

In [8]:
crime_df.info()

#Checking data type of column "date_occ"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944235 entries, 0 to 944234
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   dr_no           944235 non-null  int64
 1   date_rptd       944235 non-null  object
 2   date_occ        944235 non-null  datetime64[ns]
 3   time_occ        944235 non-null  int64
 4   area            944235 non-null  int64
 5   area_name       944235 non-null  object
 6   rpt_dist_no     944235 non-null  int64
 7   part_1-2        944235 non-null  int64
 8   crm_cd          944235 non-null  int64
 9   crm_cd_desc     944235 non-null  object
 10  mocodes         811136 non-null  object
 11  vict_age        944235 non-null  int64
 12  vict_sex        817640 non-null  object
 13  vict_descent    817630 non-null  object
 14  premis_cd       944225 non-null  float64
 15  premis_desc     943668 non-null  object
 16  weapon_used_cd  324477 non-null  float64
 17  weapon_desc     324477 non-null  object
 18  status          944235 non-null  object
 19  status_desc     944235 non-null  object
 20  crm_cd_1        944224 non-null  float64
 21  crm_cd_2        68258 non-null   float64
 22  crm_cd_3        2281 non-null    float64
 23  crm_cd_4        64 non-null      float64
 24  location        944235 non-null  object
 25  cross_street    147592 non-null  object
 26  lat             944235 non-null  float64
 27  lon             944235 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(7), object(12)
memory usage: 201.7+ MB

In [9]:
mean_value = crime_df['vict_age'].replace(0, pd.NA).median()
print(f"Mean value excluding zeros: {mean_value}")

crime_df['vict_age'] = crime_df['vict_age'].replace((120,-4,-2, -3, -1 , 0), mean_value)

#Cleaning column "vict_age" by replacing to median value

Mean value excluding zeros: 37.0

In [10]:
crime_df['vict_age'].unique()

#Checking unique values of column "vict_age"

array([37, 47, 19, 28, 41, 25, 27, 24, 26,  8,  7, 13, 56, 22, 23, 31, 30,
       57, 12, 46, 51, 20, 29, 33, 34, 15, 65, 59,  9, 35, 50, 64, 79, 40,
       44, 32, 16, 21, 42,  6, 72, 10, 60, 36, 18, 17,  5, 39, 62, 58, 63,
       14, 71, 69, 49, 38, 61, 43, 45, 78, 67, 53, 54, 11, 48, 73, 52, 68,
       81, 80,  3, 55, 89, 70, 77, 83, 91, 82, 75, 76, 74,  2, 66, 84,  4,
       87, 86, 85, 90, 99, 96, 88, 92, 94, 93, 95, 97, 98], dtype=int64)

In [11]:
crime_df["vict_sex"] = crime_df["vict_sex"].str.replace("H", "X").str.replace("-", "X")

#Cleaning column "vict_sex"

In [12]:
crime_df["vict_sex"].value_counts()

#Checking unique values of column "vict_sex"

vict_sex
M    385769
F    344147
X     87724
Name: count, dtype: int64

In [13]:
crime_df['weapon_desc'] = crime_df['weapon_desc'].replace('STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)', 'NO-WEAPON')
crime_df['weapon_desc'] = crime_df['weapon_desc'].replace('No-weapon', 'NO-WEAPON')
crime_df['weapon_desc'] = crime_df['weapon_desc'].replace('PHYSICAL PRESENCE', 'NO-WEAPON')
crime_df['weapon_desc'].fillna("NO-WEAPON", inplace= True)

#Cleaning column "weapon_desc"

In [14]:
crime_df['weapon_desc'].value_counts()

#Checking unique values of column "weapon_desc"

weapon_desc
NO-WEAPON                                        794533
UNKNOWN WEAPON/OTHER WEAPON                       35291
VERBAL THREAT                                     23739
HAND GUN                                          19968
SEMI-AUTOMATIC PISTOL                              7203
                                                  ...
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                   3
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE         2
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                   2
M-14 SEMIAUTOMATIC ASSAULT RIFLE                      2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                      1
Name: count, Length: 78, dtype: int64

In [15]:
#Economical-map
#crime-divide for gravity-3/5 cat.
#date and time to highlight when most crime is committed gender and age of victim/per location
#gender and age of victim/per location
# % of arrested criminals/divided for cat.crime 
# crime with weapon
#divide in 4 dataset- for respective gravity code crm cd 1 etc

In [16]:
crime_df["area_name"].value_counts()

area_name
Central        63732
77th Street    59228
Pacific        55020
Southwest      53464
Hollywood      49488
N Hollywood    47924
Southeast      47721
Olympic        47380
Newton         46518
Wilshire       45168
Rampart        43925
West LA        43010
Van Nuys       40344
Northeast      40211
West Valley    40001
Harbor         39098
Devonshire     39035
Topanga        38925
Mission        37817
Hollenbeck     34763
Foothill       31463
Name: count, dtype: int64

In [17]:
crime_df["vict_age"].isna().sum()

0

In [20]:
crime_df["crm_cd_desc"].unique()

array(['VEHICLE - STOLEN', 'BURGLARY FROM VEHICLE', 'BIKE - STOLEN',
       'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'THEFT OF IDENTITY',
       'BATTERY - SIMPLE ASSAULT',
       'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
       'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
       'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
       'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
       'CRIMINAL THREATS - NO WEAPON DISPLAYED',
       'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
       'CHILD ANNOYING (17YRS & UNDER)', 'BURGLARY', 'CONTEMPT OF COURT',
       'THEFT PLAIN - PETTY ($950 & UNDER)',
       'INTIMATE PARTNER - SIMPLE ASSAULT', 'LEWD CONDUCT',
       'THEFT PLAIN - ATTEMPT',
       'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)', 'ROBBERY',
       'BUNCO, GRAND THEFT', 'BATTERY WITH SEXUAL CONTACT',
       'INTIMATE PARTNER - AGGRAVATED ASSAULT', 'ORAL COPULATION',
       'UNAUTHORIZED COMPUTER ACCESS', 'VIOLATION OF RESTRAINING ORDER',
       'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
       'OTHER MISCELLANEOUS CRIME', 'BRANDISH WEAPON',
       'DOCUMENT FORGERY / STOLEN FELONY',
       'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE', 'RAPE, FORCIBLE',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
       'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
       'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
       'THREATENING PHONE CALLS/LETTERS',
       'SEXUAL PENETRATION W/FOREIGN OBJECT', 'EXTORTION',
       'OTHER ASSAULT', 'PICKPOCKET', 'ARSON', 'DISTURBING THE PEACE',
       'BUNCO, ATTEMPT', 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
       'PEEPING TOM', 'VIOLATION OF COURT ORDER', 'FALSE POLICE REPORT',
       'CONTRIBUTING', 'FALSE IMPRISONMENT',
       'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 'ATTEMPTED ROBBERY',
       'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'CHILD STEALING',
       'LEWD/LASCIVIOUS ACTS WITH CHILD',
       'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 'INDECENT EXPOSURE',
       'CHILD NEGLECT (SEE 300 W.I.C.)', 'STALKING',
       'DISHONEST EMPLOYEE - GRAND THEFT', 'TRESPASSING',
       'BURGLARY, ATTEMPTED', 'RAPE, ATTEMPTED',
       'DISCHARGE FIREARMS/SHOTS FIRED', 'PIMPING',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
       'VEHICLE - ATTEMPT STOLEN', 'PANDERING',
       'FIREARMS RESTRAINING ORDER (FIREARMS RO)', 'RESISTING ARREST',
       'BURGLARY FROM VEHICLE, ATTEMPTED', 'THEFT, PERSON',
       'BATTERY POLICE (SIMPLE)',
       'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
       'THEFT FROM PERSON - ATTEMPT', 'FAILURE TO YIELD', 'BOMB SCARE',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
       'BUNCO, PETTY THEFT', 'SHOTS FIRED AT INHABITED DWELLING',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
       'KIDNAPPING - GRAND ATTEMPT',
       'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)',
       'VIOLATION OF TEMPORARY RESTRAINING ORDER',
       'THROWING OBJECT AT MOVING VEHICLE',
       'DOCUMENT WORTHLESS ($200.01 & OVER)', 'KIDNAPPING',
       'CRIMINAL HOMICIDE', 'PURSE SNATCHING',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT',
       'DISHONEST EMPLOYEE - PETTY THEFT', 'CHILD PORNOGRAPHY',
       'WEAPONS POSSESSION/BOMBING',
       'DRIVING WITHOUT OWNER CONSENT (DWOC)',
       'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
       'LYNCHING', 'RECKLESS DRIVING', 'SHOPLIFTING - ATTEMPT',
       'COUNTERFEIT',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
       'BATTERY ON A FIREFIGHTER', 'CRUELTY TO ANIMALS', 'BOAT - STOLEN',
       'ILLEGAL DUMPING', 'PROWLER', 'DRUGS, TO A MINOR',
       'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
       'DOCUMENT WORTHLESS ($200 & UNDER)', 'MANSLAUGHTER, NEGLIGENT',
       'PETTY THEFT - AUTO REPAIR', 'THEFT, COIN MACHINE - ATTEMPT',
       'TILL TAP - PETTY ($950 & UNDER)', 'PURSE SNATCHING - ATTEMPT',
       'LYNCHING - ATTEMPTED', 'BIKE - ATTEMPTED STOLEN',
       'GRAND THEFT / AUTO REPAIR', 'CONSPIRACY', 'BRIBERY',
       'GRAND THEFT / INSURANCE FRAUD', 'DRUNK ROLL', 'CHILD ABANDONMENT',
       'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 'DISRUPT SCHOOL',
       'PICKPOCKET, ATTEMPT', 'TELEPHONE PROPERTY - DAMAGE',
       'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
       'BIGAMY', 'FAILURE TO DISPERSE',
       'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
       'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
       'BLOCKING DOOR INDUCTION CENTER', 'INCITING A RIOT',
       'DISHONEST EMPLOYEE ATTEMPTED THEFT', 'TRAIN WRECKING'],
      dtype=object)

In [25]:
rows_with_value = crime_df[crime_df['crm_cd_desc'] == 'TRAIN WRECKING']
rows_with_value

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1-2,crm_cd,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
913822,240504858,01/23/2024 12:00:00 AM,2024-01-23,259,5,Harbor,529,1,926,TRAIN WRECKING,1822 1501,50,M,W,154.0,TRAIN TRACKS,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,926.0,NaN,NaN,NaN,700 N HENRY FORD AV,NaN,33.7798,-118.2414

In [59]:
crime_categories = {
    "cat_1": [
        'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
        'THEFT PLAIN - PETTY ($950 & UNDER)',
        'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
        'PETTY THEFT - AUTO REPAIR',
        'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
        'TILL TAP - PETTY ($950 & UNDER)',
        'PURSE SNATCHING - ATTEMPT',
        'DOCUMENT WORTHLESS ($200 & UNDER)',
        'CREDIT CARDS, FRAUD USE ($950 & UNDER)',
        'BUNCO, PETTY THEFT',
        'SHOPLIFTING - ATTEMPT',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
        'THEFT PLAIN - ATTEMPT'
    ],
    "cat_2": [
        'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
        'THEFT OF IDENTITY',
        'BATTERY - SIMPLE ASSAULT',
        'BURGLARY FROM VEHICLE',
        'BIKE - STOLEN',
        'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
        'CRIMINAL THREATS - NO WEAPON DISPLAYED',
        'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
        'VIOLATION OF RESTRAINING ORDER',
        'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
        'OTHER MISCELLANEOUS CRIME',
        'BRANDISH WEAPON',
        'DOCUMENT FORGERY / STOLEN FELONY',
        'VANDALISM - MISDEMEANOR ($399 OR UNDER)',
        'CHILD ANNOYING (17YRS & UNDER)',
        'BURGLARY, ATTEMPTED',
        'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
        'THREATENING PHONE CALLS/LETTERS',
        'UNAUTHORIZED COMPUTER ACCESS',
        'SHOPLIFTING - ATTEMPT',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
        'BURGLARY FROM VEHICLE, ATTEMPTED',
        'BATTERY POLICE (SIMPLE)',
        'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
        'THEFT FROM PERSON - ATTEMPT',
        'FAILURE TO YIELD',
        'BOMB SCARE',
        'DOCUMENT WORTHLESS ($200.01 & OVER)',
        
        'BURGLARY',
        'INTIMATE PARTNER - SIMPLE ASSAULT',
        'LEWD CONDUCT',
        'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
        'ROBBERY',
        'BUNCO, GRAND THEFT',
        'ORAL COPULATION',
        'BATTERY WITH SEXUAL CONTACT',
        'INTIMATE PARTNER - AGGRAVATED ASSAULT',
        'DISTURBING THE PEACE',
        'FALSE POLICE REPORT',
        'CONTRIBUTING',
        'FALSE IMPRISONMENT',
        'ATTEMPTED ROBBERY',
        'CHILD STEALING',
        'LEWD/LASCIVIOUS ACTS WITH CHILD',
        'INDECENT EXPOSURE',
        'CHILD NEGLECT (SEE 300 W.I.C.)',
        'STALKING',
        'DISHONEST EMPLOYEE - GRAND THEFT',
        'TRESPASSING',
        'DISCHARGE FIREARMS/SHOTS FIRED',
        'BURGLARY, ATTEMPTED',
        'PIMPING',
        'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
        'VEHICLE - ATTEMPT STOLEN',
        'PANDERING',
        'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
        'RESISTING ARREST',
        'PICKPOCKET',
        'ARSON',
        'PEEPING TOM',
        'VIOLATION OF COURT ORDER',
        'VIOLATION OF TEMPORARY RESTRAINING ORDER',
        'THROWING OBJECT AT MOVING VEHICLE',
        'PURSE SNATCHING',
        'DISHONEST EMPLOYEE - PETTY THEFT',       
        'WEAPONS POSSESSION/BOMBING',
        'DRIVING WITHOUT OWNER CONSENT (DWOC)',
        'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
        'LYNCHING',
        'RECKLESS DRIVING',
        'BATTERY ON A FIREFIGHTER',
        'CRUELTY TO ANIMALS',
        'BOAT - STOLEN',
        'ILLEGAL DUMPING',
        'PROWLER',
        'DRUGS, TO A MINOR',
        'GRAND THEFT / AUTO REPAIR',
        'CONSPIRACY',
        'BRIBERY',
        'GRAND THEFT / INSURANCE FRAUD',
        'DRUNK ROLL',
        'CHILD ABANDONMENT',
        'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)',
        'DISRUPT SCHOOL',
        'PICKPOCKET, ATTEMPT',
        'TELEPHONE PROPERTY - DAMAGE',
        'BLOCKING DOOR INDUCTION CENTER',
        'INCITING A RIOT',
        'DISHONEST EMPLOYEE ATTEMPTED THEFT',
        'TRAIN WRECKING'
    ],
    "cat_3": [
        'VEHICLE - STOLEN',
        'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
        'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
        'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
        'BIGAMY',        
        'DOCUMENT WORTHLESS ($200.01 & OVER)',
        'KIDNAPPING',
        'ARSON',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
        'CREDIT CARDS, FRAUD USE ($950 & UNDER)'
        'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD', 
        'CONTEMPT OF COURT',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', 
        'BUNCO, ATTEMPT',
       'CREDIT CARDS, FRAUD USE ($950 & UNDER', 
        'THEFT, PERSON',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT',
        'COUNTERFEIT',
       'THEFT, COIN MACHINE - ATTEMPT',
        'LYNCHING - ATTEMPTED',
       'BIKE - ATTEMPTED STOLEN',
        'FAILURE TO DISPERSE',
        'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
    ],
        

        
    
    "cat_4": [
        'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
        'BATTERY POLICE (SIMPLE)',
        'BATTERY ON A FIREFIGHTER',
        'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
        'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
        'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',        
        'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
        'RAPE, ATTEMPTED',
        'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
        'CHILD NEGLECT (SEE 300 W.I.C.)',
        'STALKING',
        'BATTERY POLICE (SIMPLE)',
        'BATTERY ON A FIREFIGHTER',
        'EXTORTION',
        'RAPE, FORCIBLE',
        'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
        'SEXUAL PENETRATION W/FOREIGN OBJECT',
        'OTHER ASSAULT',
        'ATTEMPTED ROBBERY',
        'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
        'SHOTS FIRED AT INHABITED DWELLING',
        'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
        
    ],
    "cat_5": [
        'CRIMINAL HOMICIDE',
        'MANSLAUGHTER, NEGLIGENT',
        'KIDNAPPING',
        'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
        'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
        'CRIMINAL HOMICIDE',
        'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
        'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
        'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
        'DOCUMENT WORTHLESS ($200.01 & OVER)',
        'KIDNAPPING',
        'RAPE, ATTEMPTED',
        'ARSON',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
        'CREDIT CARDS, FRAUD USE ($950 & UNDER)',
        'KIDNAPPING - GRAND ATTEMPT',
        'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
        'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
        'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
        'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
        'CHILD PORNOGRAPHY'
    ]
}

In [60]:
def categorize_crime(crime_description):
    for category, crimes in crime_categories.items():
        if crime_description in crimes:
            return category
    return "Category Not Found"

In [61]:
crime_df['crime_seriousness'] = crime_df['crm_cd_desc'].map(lambda x: categorize_crime(x))

In [62]:
crime_df["crime_seriousness"].value_counts()

crime_seriousness
cat_2    608916
cat_3    143464
cat_1    113290
cat_4     74808
cat_5      3757
Name: count, dtype: int64

In [63]:
missing_cat = crime_df.loc[crime_df['crime_seriousness']== "Category Not Found"]

In [57]:
missing_cat['crm_cd_desc'].unique()

array(['LETTERS, LEWD  -  TELEPHONE CALLS, LEWD'], dtype=object)

## API: Economical Data

In [44]:
# Your Census API key
api_key = api_key_census
# API endpoint for the American Community Survey (ACS)
base_url = 'https://api.census.gov/data/2019/acs/acs5'
# Variables to retrieve (e.g., median household income)
variables = ['NAME', 'B19013_001E']
# Specify the geographic area (Los Angeles County, CA)
for_clause = 'county subdivision:*'
in_clause = 'state:06 county:037'
# Construct the full API request URL
print(f"{base_url}?get={','.join(variables)}&for={for_clause}&in={in_clause}&key={api_key}")
api_url = f"{base_url}?get={','.join(variables)}&for={for_clause}&in={in_clause}&key={api_key}"
# Make the GET request to the Census API
response = requests.get(api_url)
# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response into a DataFrame
    data = response.json()
    df = pd.DataFrame(data[1:], columns=data[0])
    # Display the first few rows of the DataFrame
    print(df.head())
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")
# Optional: Save the data to a CSV file
df.to_csv('average_income_by_district.csv', index=False)

https://api.census.gov/data/2019/acs/acs5?get=NAME,B19013_001E&for=county subdivision:*&in=state:06 county:037&key=c8ece4d4c8d1f906496a288719673264f36c2dd2
                                                NAME B19013_001E state county  \
0        Newhall CCD, Los Angeles County, California      102716    06    037
1   Palos Verdes CCD, Los Angeles County, California      117750    06    037
2  Downey-Norwalk CCD, Los Angeles County, Califo...       70795    06    037
3       Whittier CCD, Los Angeles County, California       76938    06    037
4  South Gate-East Los Angeles CCD, Los Angeles C...       46492    06    037

  county subdivision
0              92110
1              92360
2              90730
3              93730
4              93155