In [10]:
import pandas as pd

In [52]:
crime_df = pd.read_csv('crime_data.csv')

In [53]:
pd.set_option('display.max_columns', None)

In [55]:
crime_df.columns = crime_df.columns.str.lower().str.replace(' ', '_')

In [56]:
crime_df.head(1)

,dr_no,date-rptd,date-occ,time-occ,area,area-name,rpt-dist-no,part-1-2,crm-cd,crm-cd-desc,mocodes,vict-age,vict-sex,vict-descent,premis-cd,premis-desc,weapon-used-cd,weapon-desc,status,status-desc,crm-cd-1,crm-cd-2,crm-cd-3,crm-cd-4,location,cross-street,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506

In [66]:
crime_df['vict-descent'].unique()

array(['O', 'X', 'H', 'B', 'W', nan, 'A', 'C', 'K', 'J', 'F', 'I', 'V',
       'S', 'P', 'Z', 'G', 'U', 'D', 'L', '-'], dtype=object)

In [77]:
mean_value = crime_df['vict-age'].replace(0, pd.NA).median()
print(f"Mean value excluding zeros: {mean_value}")

Mean value excluding zeros: 37.0

In [79]:
crime_df['vict-age'] = crime_df['vict-age'].replace(0, mean_value)

In [81]:
crime_df.head(1)

,dr_no,date-rptd,date-occ,time-occ,area,area-name,rpt-dist-no,part-1-2,crm-cd,crm-cd-desc,mocodes,vict-age,vict-sex,vict-descent,premis-cd,premis-desc,weapon-used-cd,weapon-desc,status,status-desc,crm-cd-1,crm-cd-2,crm-cd-3,crm-cd-4,location,cross-street,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,37,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506

In [ ]:
#Clean date-occ area, -area-name,  vict age, , vict sex, weapon, status crm-all, 
#drop date-rptd, rptdistrict.nopart-1-2 crm-cd , mocodes, premis cd .weapon desc- cross street, location,

In [92]:
crime_df['vict-age'] = crime_df['vict-age'].replace(120, mean_value)

In [ ]:
#Map 1 - Crime code 1 (least serious)
code_1_crime = crime_df

In [ ]:
#df_code2

In [ ]:
#df_code3

In [ ]:
#df_code4

In [170]:
crime_df['weapon-desc'] = crime_df['weapon-desc'].replace('STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)', 'No-weapon')

In [175]:
crime_df['weapon-desc'] = crime_df['weapon-desc'].replace('No-weapon', 'no-weapon')

In [177]:
crime_df['weapon-desc'] = crime_df['weapon-desc'].replace('PHYSICAL PRESENCE', 'no-weapon')

In [187]:
crime_df['weapon-desc'].fillna("no-weapon", inplace= True)

In [188]:
crime_df['weapon-desc'].value_counts()

weapon-desc
no-weapon                                        818272
UNKNOWN WEAPON/OTHER WEAPON                       35291
HAND GUN                                          19968
SEMI-AUTOMATIC PISTOL                              7203
KNIFE WITH BLADE 6INCHES OR LESS                   6802
                                                  ...
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                   3
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE         2
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                   2
M-14 SEMIAUTOMATIC ASSAULT RIFLE                      2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                      1
Name: count, Length: 77, dtype: int64

In [191]:
crime_df['weapon-desc'].unique()

array(['no-weapon', 'VEHICLE', 'UNKNOWN WEAPON/OTHER WEAPON',
       'BELT FLAILING INSTRUMENT/CHAIN', 'HAND GUN', 'UNKNOWN FIREARM',
       'KNIFE WITH BLADE 6INCHES OR LESS', 'FIXED OBJECT',
       'KITCHEN KNIFE', 'MACHETE', 'UNKNOWN TYPE CUTTING INSTRUMENT',
       'MACE/PEPPER SPRAY', 'CLUB/BAT', 'STICK', 'OTHER KNIFE',
       'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH', 'HAMMER',
       'AIR PISTOL/REVOLVER/RIFLE/BB GUN', 'SEMI-AUTOMATIC PISTOL',
       'SIMULATED GUN', 'RAZOR', 'OTHER FIREARM', 'FOLDING KNIFE',
       'PIPE/METAL PIPE', 'ROCK/THROWN OBJECT', 'RIFLE',
       'OTHER CUTTING INSTRUMENT', 'FIRE', 'REVOLVER', 'BOTTLE',
       'SCISSORS', 'SWITCH BLADE', 'BRASS KNUCKLES', 'BLUNT INSTRUMENT',
       'BOARD', 'STUN GUN', 'CLEAVER', 'RAZOR BLADE', 'SCREWDRIVER',
       'SHOTGUN', 'CONCRETE BLOCK/BRICK', 'CAUSTIC CHEMICAL/POISON',
       'SEMI-AUTOMATIC RIFLE', 'SCALDING LIQUID', 'TIRE IRON',
       'BOWIE KNIFE', 'GLASS', 'AXE', 'TOY GUN', 'BOMB THREAT',
       'SAWED OFF RIFLE/SHOTGUN', 'MARTIAL ARTS WEAPONS', 'DEMAND NOTE',
       'DIRK/DAGGER', 'ASSAULT WEAPON/UZI/AK47/ETC', 'ROPE/LIGATURE',
       'HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE',
       'EXPLOXIVE DEVICE', 'SWORD', 'MAC-11 SEMIAUTOMATIC ASSAULT WEAPON',
       'SYRINGE', 'BOW AND ARROW', 'LIQUOR/DRUGS',
       'DOG/ANIMAL (SIC ANIMAL ON)', 'BLACKJACK', 'ICE PICK',
       'RELIC FIREARM', 'AUTOMATIC WEAPON/SUB-MACHINE GUN',
       'ANTIQUE FIREARM', 'HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE',
       'STRAIGHT RAZOR', 'M1-1 SEMIAUTOMATIC ASSAULT RIFLE',
       'STARTER PISTOL/REVOLVER', 'UZI SEMIAUTOMATIC ASSAULT RIFLE',
       'MAC-10 SEMIAUTOMATIC ASSAULT WEAPON',
       'UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE',
       'M-14 SEMIAUTOMATIC ASSAULT RIFLE'], dtype=object)

In [ ]:
#Economical-map
#crime-divide for gravity-3/5 cat.
#date and time to highlight when most crime is committed gender and age of victim/per location
#gender and age of victim/per location
# % of arrested criminals/divided for cat.crime 
# crime with weapon
#divide in 4 dataset- for respective gravity code crm cd 1 etc